*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;}

body{
    width: 100vw;
    height: 100vh;
    background-color: #22212C;
    display: flex;
    
}

.text-color{
    color: #837E9f;
}

.box{
    background: #302F3D;
    border-radius: 20px;
    margin: 30px 0 0 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    padding: 20px 30px;

}

.list ul{
    font-size: 14px;
    padding: 20px 40px;
    
}

.list ul li{
    font-weight: 700;
    margin-top: 10px;
}

aside{
    display: flex;
    flex-direction: column;
}

.box-one{
    width: 348px;
    height: 292px;
}    

.img img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid #0F0;  
    margin: 32px 80px;
}

.text-one{
    text-align: center;
}

.text-one h3{
    font-size: 23px;
    font-weight: 700;
}

.text-one p{
    font-size: 13px;
}

.box-two{
    width: 348px;
    height: 348px;
    padding: 40px 30px;
    display: flex;
}

.svg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info ul li{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 13px;
}

.box-tree{
    width: 348px;
    height: 208px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.tech{
    width: 86px;
    height: 24px;
    border-radius: 30px;
    background-color: #CB92B1;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.tech p{
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}

.box-four{
    width: 348px;
    height: 349px;
    
}

.box-five{
    width: 348px;
    height: 352px;
}

.projects{
    display: grid;
    grid-template-areas: ' ret ret';
}

.retangle{
    width: 952px;
    height: 86px;
    margin-bottom: 10px;
    grid-area: ret;
}

.retangle h4{
    margin-top: 15px;
}

.retangle p{
    font-size: 14px;
    text-align: end;
    margin-top: -15px;
}

.project-box{
    width: 461px;
    height: 186px;
    padding: 30px 30px;
    display: grid;
}

.retangle-two{
    width: 952px;
    height: 201px;
    display: flex;
    flex-wrap: wrap;
}

.img-post img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 20px 30px;
}

.text-two{
    float: right;
    margin-top: 20px;
}

.text-two span{
    font-size: 12px;
    margin-top: 20px;
}

.elipse{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E7DE79;
}